@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #000000;
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  max-width: 400px;
  width: 100%;
}

.header {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.form {
  &__wrapper {

  }
  &__label {
    display: block;
  }
}